.terraform/
*.tfstate
*.tfstate.*
tfplan
*.tfplan
terraform.tfvars
*.auto.tfvars
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars